<mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="space-between center">
        <div fxLayout="row">
            <button mat-button>
                <a routerLink="">
                    <mat-icon>home</mat-icon>
                    <span class="logo">Blog Site</span>
                </a>
            </button>
        </div>
        <div>
            <button mat-button><a routerLink="dashboard">Admin</a></button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>