a{
    text-decoration: none;
    color: black;
}
.content{
    padding: 16px;
}
  
.example-header-image {
background-image: url('https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Z2lybCUyMGZhY2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
background-size: cover;
}